@import url(https://fonts.bunny.net/css?family=nunito-sans:400,700);

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #eeeeee;
}

#header-img {
    width: 6em;
}

header {
    margin: 1em 5em 7em 5em;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #eee;
}

#header-logo {
    display: flex;
    align-items: center;
    width: 60%;
}

#header-logo span {
    margin-left: 1em;
    font-size: 1.5em;
}

#nav-bar {
    display: flex;
    /* border: 5px solid red; */
    align-items: center;
    justify-content: space-between;
    width: 40%; 
    font-size: 1em;
}


a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

#email {
    height: 2.5em;
    width: 30em;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 0.5em;
}

#submit {
    background-color: orange;
    padding: 0.5em;
    width: 10em;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid orange;
}

#submit:hover {
    cursor: pointer;
}

#submit:active {
    box-shadow: 0px 0px 69px -28px rgba(0,0,0,0.2) inset;
    -webkit-box-shadow: 0px 0px 69px -28px rgba(0,0,0,0.2) inset; 
    -moz-box-shadow: 0px 0px 69px -28px rgba(0,0,0,0.2) inset;
}

.line-img {
    width: 7em;
    margin-bottom: 1.5em;
}

#how-it-works {
    margin-top: 5em;
    display: flex;
    justify-content: center;
}

#img-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#text-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.1em;
}

#div-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

#pricing {
    display: flex;
    justify-content: space-between;
    margin: 5em 20%;
    
}

.price {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  width: 30%;
  border-radius: 0.5rem;
  height: auto;
}

.price-title {
    text-align: center;
    background-color: #dddddd;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1em;
    font-size: 1.2em;
    border-radius: 7px;
}

li {
    list-style: none;
    margin-top: 0.3em;
}

.button {
    padding: 1em;
    background-color: orange;
    border: 1px solid orange;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    box-shadow: 0px 0px 69px -28px rgba(0,0,0,0.2) inset;
    -webkit-box-shadow: 0px 0px 69px -28px rgba(0,0,0,0.2) inset; 
    -moz-box-shadow: 0px 0px 69px -28px rgba(0,0,0,0.2) inset;
}

.price span {
    margin-bottom: 1em;
    font-size: 1.8em;
    font-weight: bold;
}

footer {
    background-color: #dddddd;
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    margin: 5em 20% 0 20%;
}

footer ul {
    display: flex;
}

footer ul li {
    display: flex;
    padding: 0 0.5em;

}

footer span {
    margin-top: 0.2em;
    display: flex;
    justify-content: flex-end;
    font-size: 1em;
    color: rgb(128, 128, 128);
    padding: 0 0.5em;
}

@media all and (max-width: 1550px) {
    #pricing {
        display: flex;
        justify-content: space-between;
        margin: 5em 15%;
    }
}

@media all and (max-width: 1335px) {
    #pricing {
        display: flex;
        justify-content: space-between;
        margin: 5em 10%;
    }
}

@media all and (max-width: 1050px) {

    video {
        width: 90%;
    }

    header {
        margin: 1em 0em 7em 0em;
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
        background-color: #eee;
    }
    
    #header-logo {
        display: flex;
        align-items: center;
        width: 40%;
    }
    
    #header-logo span {
        margin-left: 1em;
        font-size: 1.5em;
    }
    
    #nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 60%; 
        font-size: 1em;
    }

    #pricing {
        display: flex;
        justify-content: space-between;
        margin: 5em 5%;
    }
}

@media all and (max-width: 610px and min-width: 500px) {

    #header-logo span {
        margin-left: 0;
        font-size: 1.4em;
    }

    #pricing {
        display: flex;
        justify-content: space-between;
        margin: 5em 2%;
    }

    h1 {
        text-align: center;
    }

    #nav-bar {
        font-size: 0.8em;
    }
}


